.container {
    display: grid;
    place-items: center;

    h1 {
        text-align: center;
    }

    .board_container {
        display: grid;
        grid-template-columns: repeat(5, 5vw);

        .cell {
            width: 5vw;
            height: 5vw;
            border: 1px solid black;
        }
        
    }
}